<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台首页面</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<div class="mobile">
	<p>OPENID：2018070316345469</p>
	<p>APPKEY：sdgh5263598ikolpuyhn5360r1g5s8l</p>
</div>
<div class="mobile">
	<p>OPENID：2018070316345469</p>
	<p>APPKEY：sdgh5263598ikolpuyhn5360r1g5s8l</p>
</div>
<div class="mobile"></div>
<div class="mobile"></div>
<div style="clear:both;"></div>
</body>
</html>