<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台框架</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<div class="admin_box">
	<div class="adming_logo"></div>
</div>
<div class="adming_all">
	<div class="adming_left"></div>
	<div class="adming_left"></div>
</div>
</body>
</html>