<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台首页面</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<div class="mobile">
	<p style="font-size:1rem;margin-top:20px;">获取秘钥</p>
	<p><b>OPENID：</b>2018070316345469</p>
	<p><b>APPKEY：</b>sdgh5263598ikolpuyhn5360r1g5s8l</p>
</div>
<div class="mobile" style="text-align:center;line-height:10rem;font-size:1rem;">
	绑带域名数量：10 个
</div>
<div class="mobile" style="text-align:center;line-height:10rem;font-size:1rem;">
	启用状态数量：10 个
</div>
<div class="mobile" style="text-align:center;line-height:10rem;font-size:1rem;">
	帐户余额：500 元
</div>
<div style="clear:both;"></div>
</body>
</html>