<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>绑带域名</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1><a href="<?php echo apth_url('?act=adminfrom');?>" target="_parent">&lt;&lt;返回首页</a> &nbsp; &nbsp; &nbsp; &nbsp; 绑定域名</h1>	
</div>
<div class="shengcheng">
	<p>绑定域名：<input type="text" name="OPENID" value="" class="openid_sls"/> <input type="button" value="点击绑定" class="openid_btn"/></p>
</div>
<table class="key_tablebox">
		<tr>
			<td>序号</td>
			<td>域名</td>
			<td>绑定时间</td>
			<td>操作</td>
		</tr>
		
		<tr>
			<td>1</td>
			<td>f.htxgcw.com</td>
			<td>2018-07-03 17:16:30</td>
			<td><a href="#">修改</a> &nbsp; | &nbsp; <a href="#">删除</a></td>
		</tr>
		
		<tr>
			<td>2</td>
			<td>bim.htxgcw.com</td>
			<td>2018-07-03 17:16:30</td>
			<td><a href="#">修改</a> &nbsp; | &nbsp; <a href="#">删除</a></td>
		</tr>
		
		<tr>
			<td>3</td>
			<td>www.htxgcw.com</td>
			<td>2018-07-03 17:16:30</td>
			<td><a href="#">修改</a> &nbsp; | &nbsp; <a href="#">删除</a></td>
		</tr>
</table>
</body>
</html>